@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
/*避免padding引起的宽度溢出*/
body {
	margin: 0px;
    padding:0px;
}
.container {
	width: 100%;
}
[class*='col-'] {
	float: left;
	padding: 10px;
}
.content {
	border: 1px solid #9F0;
	background-color: #C3C;
	height: 40px;
}

@media only screen and (min-width: 769px) {

.col-md-1 {
	width: 8.33%;
}
.col-md-2 {
	width: 16.66%;
}
.col-md-3 {
	width: 25%;
}
.col-md-4 {
	width: 33.33%;
}
.col-md-5 {
	width: 41.66%;
}
.col-md-6 {
	width: 50%;
}
.col-md-8 {
	width: 66.66%;
}
}
@media only screen and (max-width: 768px) {

.col-sm-2 {
	width: 16.66%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-8 {
	width: 66.66%;
}
.col-sm-12 {
	width: 100%;
}
